<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Password</title>
    <link  rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/changePassword.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="../static/js/password.js"></script>
    <script src="../static/js/check_credentials.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="watchit-button" id="watchit-button" onmouseenter="decreaseButtonBrightness('watchit-button')" onmouseout="resetButtonBrightness('watchit-button')" onclick="returnToHomePage()">WatchIt</button>
        </div>
    </div>
    <div class="box">
        <p class="change-password-text">Alterar Palavra-Passe</p>
        <form action="/alterarPalavraPasse" method="post">
            <input class="new-password-input" id="password" type="password" name="password" placeholder="Nova Palavra-Passe" oninput="checkPassword()">
            <input class="confirm-new-password-input" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirmar Nova Palavra-Passe" oninput="checkConfirmPassword()">
            <button class="confirm-new-password-button" id="confirmNewPasswordButton" name="confirmNewPasswordButton" value="alterarPalavraPasse">Alterar Palavra-Passe</button>
            {% if not invalidCredentials %}
                <p1 hidden class="invalid-credentials-text" id="invalidCredentialsLabel" name="invalidCredentialsLabel">{{ invalidCredentialsText }}</p1>
            {% else %}
                <p1 class="invalid-credentials-text" id="invalidCredentialsLabel" name="invalidCredentialsLabel">{{ invalidCredentialsText }}</p1>
            {% endif %}
        </form>
        <button class="show-new-password-button" id="psw_button" onclick="showHidePassword()"></button>
        <button class="show-confirm-new-password-button" id="conf_psw_button" onclick="showHidePassword()"></button>
    </div>
</body>
</html>