<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <script src="../static/js/urls.js"></script>
    <script src="../static/js/effects.js"></script>
    <script src="../static/js/update_credentials.js"></script>
    <link rel="stylesheet" href="../static/styles/editProfile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(20, 20, 20);">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="watchit-button" id="watchit-button" onmouseenter="decreaseButtonBrightness('watchit-button')" onmouseout="resetButtonBrightness('watchit-button')" onclick="returnToHomePage()">WatchIt</button>
        </div>
    </div>
    <div class="box">
        <div>
            <img class="profile-image" src="../static/images/other_images/icon-profile.png">
            <p class="username-title">@Username</p>
            <p class="level-text">Level 1</p>
            <div class="editable-info-div">
                <div class="container text-center">    
                    <div class="row">
                        <div class="col-sm-4" style="width: 20vw;">
                            <div class="editable-username-div">
                                <p class="username-text">Username:</p>
                                <div class="username-editable-div">
                                    <label class="username">{{ username }}</label>
                                    <button class="edit-username-button" id="edit-username-button" onclick="showHideNewUsernameDiv()"></button>
                                </div>
                                <div class="new-username-div" id="new-username-div">
                                    <input class="new-username-input" type="text">
                                    <button class="save-new-username-button">Salvar Username</button>
                                </div>
                            </div>
                            <div class="editable-email-div">
                                <p class="email-text">Email:</p>
                                <div class="email-editable-div">
                                    <label class="email">{{ email_address }}</label>
                                    <button class="edit-email-button" id="edit-email-button" onclick="showHideNewEmailDiv()"></button>
                                </div>
                                <div class="new-email-div" id="new-email-div">
                                    <input class="new-email-input" type="text">
                                    <button class="save-new-email-button">Salvar Email</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="width: 20vw;">
                            <div class="editable-password-div">
                                <p class="password-text">Password:</p>
                                <div class="password-editable-div">
                                    <button class="change-password-button" onclick="redirectToInsertVerificationCodePage()">Alterar Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>