<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algo Correu Mal!</title>
    <link rel="stylesheet" href="../static/styles/errorPage.css">
    <script src="../static/js/urls.js"></script>
</head>
<body>
    <h1 class="error-title">Ooops! Algo Correu Mal!</h1>
    <h1 class="go-back-to-mainpage-title">
        Clica 
        <button class="go-back-to-mainpage-button" onclick="returnToHomePage()">aqui</button>
        para voltares para a página principal</h1>
    <img class="error-image" src="../static/images/other_images/error-icon.png">
</body>
</html>