<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/insertVerificationCode.css">
    <script src="../static/js/effects.js"></script>
    <script src="../static/js/urls.js"></script>
    <script src="../static/vendor/insertVerificationCode_widgets_movement.js"></script>
    <title>Código de Verificação</title>
</head>
<body onload="resizeWidgets()" onresize="resizeWidgets()">
    <div class="box" id="verCodeBox">
        <form action="/inserirCodigodeVerificacao" method="post">
            <p class="verification-code-text" id="verCodeTitle">Código de Verificação</p>
            {% if not invalidVerificationCode %}
                <input maxlength="1" class="first-digit-input" type="text" id="first_input" name="first_input" oninput="focusElement()">
                <input maxlength="1" class="second-digit-input"type="text" id="second_input" name="second_input" oninput="focusElement()">
                <input maxlength="1" class="third-digit-input"type="text" id="third_input" name="third_input" oninput="focusElement()">
                <input maxlength="1" class="fourth-digit-input"type="text" id="fourth_input" name="fourth_input" oninput="focusElement()">
            {% else %}
                <input maxlength="1" class="invalid-first-digit-input" type="text" id="first_input" name="first_input" oninput="focusElement()">
                <input maxlength="1" class="invalid-second-digit-input"type="text" id="second_input" name="second_input" oninput="focusElement()">
                <input maxlength="1" class="invalid-third-digit-input"type="text" id="third_input" name="third_input" oninput="focusElement()">
                <input maxlength="1" class="invalid-fourth-digit-input"type="text" id="fourth_input" name="fourth_input" oninput="focusElement()">
                <label maxlength="1" class="invalid-code-text">Código Inválido. Tenta Novamente.</label>
                <label maxlength="1" class="verification-code-time-warning">Novos códigos são gerados e enviados de 10 em 10 minutos, após este tempo atualiza a página e verifica o teu email.</label>
            {% endif %}
            <button class="submit-button" name="submitButton" value="Verificar" id="verCodeButton">Verificar</button>
        </form>
    </div>
</body>
</html>