<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href= "../static/styles/login.css">
  <script src="../static/js/urls.js"></script>
  <script src="../static/js/effects.js"></script>
  <script src="../static/js/check_credentials.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="top-widgets">
          <button class="watchit-button" id="watchit-button" onmouseenter="decreaseButtonBrightness('watchit-button')" onmouseout="resetButtonBrightness('watchit-button')" onclick="returnToHomePage()">WatchIt</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="box">
    <span class="text-center">Login</span>
    <form action="/login" method="post">
      <div class="input-container">		
        <input class="email-address" type="mail" name="email_address" id="emailAddress" oninput="checkEmail()"/>
        <label>Email</label>
      </div>
      
      <div class="input-container">		
        <input type="password" name="password" id="password" oninput="checkPassword()"/>
        <label>Password</label>
      </div>
      <p1 class="invalid-credentials-text" id="invalidCredentialsLabel">{{ invalidCredentialsText }}</p1>
      <div>
        <br>
        <button class="login-button" name="login" value="Login">Login</button>
      </div>
    </form>	
    <div>
      <p1 class="bottom-text">Novo por aqui?</p1>
      <button class="redirect-to-signUp-button" onclick="redirectToSignUpPage()">Regista-te agora!</button>
    </div>
    <button class="password-button" id="psw_button" onclick="showHidePassword()"></button>
    <script src="../static/js/password.js"></script>
    <img class="side-image" src="../static/images/other_images/signup_background.jpg">
  </div>
</body>
</html>