<!DOCTYPE html>
<html lang="en">
<head>
  <title>WatchIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/styles/series_page.css">
  <link rel="stylesheet" href="../static/styles/mainpage.css">
  <link rel="stylesheet" href="../static/styles/series.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../static/js/effects.js"></script>
  <script src="../static/js/urls.js"></script>
  <script src="../static/vendor/widget_movement.js"></script>
  <style>    
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" style="background: transparent;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <form action="/" method="post">
        <button class="watchit-button" id="watchit-button" onmouseenter="decreaseButtonBrightness('watchit-button')" onmouseout="resetButtonBrightness('watchit-button')" onclick="returnToHomePage()">WatchIt</button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if isLogged %}
          <div class="dropdown">
            <div class="dropdown-content" id="dropdownContent">
              <button class="edit-profile-button" onclick="redirectToEditProfilePage()">Editar Perfil</button>
              <button class="logout-button">Sair</button>
            </div>
            <button class="profile-picture" id="profilePicture" onmouseenter="moveProfilePanel()"></button>
          </div>
          {% else %}
              <button class="header-buttons mainButton" onclick="redirectToLoginPage()">Login</button>
              <button class="header-buttons mainButton" onclick="redirectToSignUpPage()">Registar</button>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center" style="background: transparent;">    
<h1 class="slogan">As tuas séries favoritas estão aqui!</h1><br>
  <div class="row">
    <div class="col-sm-4">
        <div class="grid-series-container">
            <div class="grid-series-item">
                <form class="serie-container" action="/" method="post">
                    <img src="{{ s1_image }}" style="height:100%; width:100%;">
                    <button class="btn" name="s1Button" value="{{ s1_value }}"></button>
                </form>
            </div>
            <div class="grid-series-item">
                <form class="serie-container slot-s2" action="/" method="post">
                    <img src="{{ s2_image }}" style="height:100%; width:100%;">
                    <button class="btn" name="s2Button" value="{{ s2_value }}"></button>
                </form>
            </div>
            <div class="grid-series-item">
                <form class="serie-container slot-s3" action="/" method="post">
                    <img src="{{ s3_image }}" style="height:100%; width:100%;">
                    <button class="btn" name="s3Button" value="{{ s3_value }}"></button>
                </form>
            </div>
        </div>
        
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center" style="background: transparent;">
  <p>WatchIt</p>
</footer>

</body>
</html>
