<!DOCTYPE html>
<html lang="en">
<head>
  <title>WatchIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/styles/series_page.css">
  <link rel="stylesheet" href="../static/styles/index.css">
  <link rel="stylesheet" href="../static/styles/series.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../static/js/effects.js"></script>
  <script src="../static/js/urls.js"></script>
  <script src="../static/vendor/widget_movement.js"></script>
  <script src="../static/js/top_series.js"></script>
  <style>    
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" style="background: transparent;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <form action="/" method="post">
          <button class="watchit-button" id="watchit-button" onmouseenter="decreaseButtonBrightness('watchit-button')" onmouseout="resetButtonBrightness('watchit-button')" onclick="returnToHomePage()">WatchIt</button>
        </form>
  
        <h1 class="movies-button" onclick="redirectToMoviesPage()">FILMES</h1>
  
        <h1 class="series-button" style="color: rgba(125, 255, 125, 0.712); text-shadow: 0 0 10px white;" onclick="redirectToSeriesPage()">SÉRIES</h1>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            {% if isLogged %}
            <div class="dropdown">
              <div class="dropdown-content" id="dropdownContent">
                <button class="edit-profile-button" onclick="redirectToEditProfilePage()">Editar Perfil</button>
                <button class="logout-button">Sair</button>
              </div>
              <button class="profile-picture" id="profilePicture" onmouseenter="moveProfilePanel()"></button>
            </div>
            {% else %}
                <button class="header-buttons mainButton" onclick="redirectToLoginPage()">Login</button>
                <button class="header-buttons mainButton" onclick="redirectToSignUpPage()">Registar</button>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 class="slogan-series">As tuas séries favoritas estão aqui!</h1><br>
  <div class="container text-center" style="background: transparent;">
    <div class="top-series-container">
      <div class="top-series-item" id="topSerie1Div">
        <img class="top-serie-1" id="topSerie1" src="{{ ts1_background }}">
        <div class="top-serie-left-div">
          <h1 class="serie-name">{{ ts1_name }}</h1>
          <p class="serie-release-year">{{ ts1_release_year }}</p>
          <p class="serie-duration">{{ ts1_duration }}</p>
          <p class="serie-total-seasons-number">{{ ts1_total_seasons_number }} Temporadas</p>
          <p class="serie-star-classification">{{ ts1_star_classification }} / 10 ⭐</p>
          <p class="serie-description">{{ ts1_description }}</p>
          <form method="post">
            <button class="watch-now-button" name="watchTopSerie" value="watchTopSerie1">Assistir Agora</button>
          </form>
          <form method="post">
            {% if isLogged %}
              {% if s1IsFavourite != False %}
                <button class="add-to-favourites-button" name="addSerie1ToFavouriteSeriesButton" value="addSerie1ToFavouriteSeriesButton"></button>
              {% else %}
                <button class="add-to-favourites-button"  name="addSerie1ToFavouriteSeriesButton" value="addSerie1ToFavouriteSeriesButton" style="background-image: url('../static/images/other_images/favourite-unfilled.png');" name="addMovie1ToFavouriteMoviesButton" value="addMovie1ToFavouriteMoviesButton"></button>
              {% endif %}
            {% else %}
              <button hidden class="add-to-favourites-button" name="addSerie1ToFavouriteSeriesButton" value="addSerie1ToFavouriteSeriesButton"></button>
            {% endif %}
          </form>
          <div class="top-series-progress-bar-div">
            <div class="top-series-progress-bar" id="topSerieProgressBar1"></div>
          </div>
        </div>
      </div>
      <div class="top-series-item" style="display: none;" id="topSerie2Div">
        <img class="top-serie-2" id="topSerie2" src="{{ ts2_background }}">
        <div class="top-serie-left-div">
          <h1 class="serie-name">{{ ts2_name }}</h1>
          <p class="serie-release-year">{{ ts2_release_year }}</p>
          <p class="serie-duration">{{ ts2_duration }}</p>
          <p class="serie-total-seasons-number">{{ ts2_total_seasons_number }} Temporadas</p>
          <p class="serie-star-classification">{{ ts2_star_classification }} / 10 ⭐</p>
          <p class="serie-description">{{ ts2_description }}</p>
          <form method="post">
            <button class="watch-now-button" name="watchTopSerie" value="watchTopSerie2">Assistir Agora</button>
          </form>
          <form method="post">
            {% if isLogged %}
              {% if s2IsFavourite != False %}
                <button class="add-to-favourites-button" name="addSerie2ToFavouriteSeriesButton" value="addSerie2ToFavouriteSeriesButton"></button>
              {% else %}
                <button class="add-to-favourites-button" name="addSerie2ToFavouriteSeriesButton" value="addSerie2ToFavouriteSeriesButton" style="background-image: url('../static/images/other_images/favourite-unfilled.png');" name="addMovie1ToFavouriteMoviesButton" value="addMovie1ToFavouriteMoviesButton"></button>
              {% endif %}
            {% else %}
              <button hidden class="add-to-favourites-button" name="addSerie2ToFavouriteSeriesButton" value="addSerie2ToFavouriteSeriesButton"></button>
            {% endif %}
          </form>
          <div class="top-series-progress-bar-div">
            <div class="top-series-progress-bar" id="topSerieProgressBar2"></div>
          </div>
        </div>
      </div>
      <div class="top-series-item" style="display: none;" id="topSerie3Div">
        <img class="top-serie-3" id="topSerie3" src="{{ ts3_background }}">
        <div class="top-serie-left-div">
          <h1 class="serie-name">{{ ts3_name }}</h1>
          <p class="serie-release-year">{{ ts3_release_year }}</p>
          <p class="serie-duration">{{ ts3_duration }}</p>
          <p class="serie-total-seasons-number">{{ ts3_total_seasons_number }} Temporadas</p>
          <p class="serie-star-classification">{{ ts3_star_classification }} / 10 ⭐</p>
          <p class="serie-description">{{ ts3_description }}</p>
          <form method="post">
            <button class="watch-now-button" name="watchTopSerie" value="watchTopSerie3">Assistir Agora</button>
          </form>
          <form method="post">
            {% if isLogged %}
              {% if s3IsFavourite != False %}
                <button class="add-to-favourites-button" name="addSerie3ToFavouriteSeriesButton" value="addSerie3ToFavouriteSeriesButton"></button>
              {% else %}
                <button class="add-to-favourites-button"  name="addSerie3ToFavouriteSeriesButton" value="addSerie3ToFavouriteSeriesButton" style="background-image: url('../static/images/other_images/favourite-unfilled.png');" name="addMovie1ToFavouriteMoviesButton" value="addMovie1ToFavouriteMoviesButton"></button>
              {% endif %}
            {% else %}
              <button hidden class="add-to-favourites-button" name="addSerie3ToFavouriteSeriesButton" value="addSerie3ToFavouriteSeriesButton"></button>
            {% endif %}
          </form>
          <div class="top-series-progress-bar-div">
            <div class="top-series-progress-bar" id="topSerieProgressBar3"></div>
          </div>
        </div>
      </div>
      <div class="previous-button-div" id="previousButtonDiv" onmouseenter="increaseOpacity('previousButtonDiv'); changePreviousArrowColor()" onmouseleave="decreaseOpacity('previousButtonDiv'); resetPreviousArrowColor()" onclick="previousTopSerie()">
      </div>
      <div class="next-button-div" id="nextButtonDiv" onmouseenter="increaseOpacity('nextButtonDiv'); changeNextArrowColor()" onmouseleave="decreaseOpacity('nextButtonDiv'); resetNextArrowColor()" onclick="nextTopSerie();">
      </div>
      <button class="previous-button" id="previousArrow" onmouseenter="increaseOpacity('previousButtonDiv'); changePreviousArrowColor()" onmouseleave="decreaseOpacity('previousButtonDiv'); resetPreviousArrowColor()" onclick="previousTopSerie()"><</button>
      <button class="next-button" id="nextArrow" onmouseenter="increaseOpacity('nextButtonDiv'); changeNextArrowColor()" onmouseleave="decreaseOpacity('nextButtonDiv'); resetNextArrowColor()" onclick="nextTopSerie()">></button>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="grid-series-container">
            <div class="grid-series-item">
                <form class="serie-container" method="post">
                    <img src="{{ s1_image }}" style="height:100%; width:100%;">
                    <button class="btn" name="serieButton" value="{{ s1_value }}"></button>
                </form>
            </div>
            <div class="grid-series-item">
                <form class="serie-container slot-s2" method="post">
                    <img src="{{ s2_image }}" style="height:100%; width:100%;">
                    <button class="btn" name="serieButton" value="{{ s2_value }}"></button>
                </form>
            </div>
            <div class="grid-series-item">
                <form class="serie-container slot-s3" method="post">
                    <img src="{{ s3_image }}" style="height:100%; width:100%;">
                    <button class="btn" name="serieButton" value="{{ s3_value }}"></button>
                </form>
            </div>
        </div>
          
      </div>
    </div>
  </div><br>

  <footer class="container-fluid text-center" style="background: transparent;">
    <p>WatchIt</p>
  </footer>

</body>
</html>
