<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/signUp.css') }}">
  <title>Registar</title>
</head>
<body>
  <div class="box">
    <form action="/registarConta" method="post">
      <span class="text-center">Registar</span>
      
      {% if not invalid_email %}
        <div class="input-container">		
          <input type="mail" name="email_address"/>
          <label>Email</label>
        </div>
      {% else %}
        <div class="invalid-input-container">
          <input type="mail" name="email_address"/>
          <label>Email</label>		
        </div>
      {% endif %}

      {% if not invalid_username %}
        <div class="input-container">		
          <input type="text" name="username"/>
          <label>Nome de Utilizador</label>
        </div>
      {% else %}
        <div class="invalid-input-container">		
          <input type="text" name="username"/>
          <label>Nome de Utilizador</label>
        </div>
      {% endif %}
       
      {% if not invalid_password %}
        <div class="input-container">		
          <input type="password" name="password"/>
          <label>Password</label>
        </div>
      {% else %}
        <div class="invalid-input-container">		
          <input type="password" name="password"/>
          <label>Password</label>
        </div>
      {% endif %}

      {% if not invalid_confirm_password %}
        <div class="input-container">		
          <input type="password" name="confirm_password"/>
          <label>Confirmar Password</label>
        </div>
      {% else %}
        <div class="invalid-input-container">		
          <input type="password" name="confirm_password"/>
          <label>Confirmar Password</label>
        </div>
      {% endif %}
      <div>
        <button class="signup-button" name="signUp" value="Registar">Registar</button>
      </div>
      <div>
        <p1 class="bottom-text">Já tens conta?</p1>
        <button class="redirect-to-login-button" name="signInNow" value="iniciarSessaoAgora">Inicia sessão agora</button>
      </div>
    </form>	
    <img class="side-image" src="../static/images/other_images/signup_background.jpg">
  </div>
</body>
</html>