@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

body{
	background-color: rgba(0, 0, 0, 0.945);
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}

.top-widgets{
    position: fixed;
    /* background: rgb(61, 61, 61); */
    background: rgb(61, 61, 61);
    height: 70px;
    width: 150%;
    top: -10px;
    left: -14px;
}

.watchit-button{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 45px;
    background-color: transparent;
    border-color: transparent;
    margin-left: 0.5%;
    margin-top: 0.3%;
    height: 52px;
    cursor: pointer;
}

.text-center{
	color:#fff;	
    font-size: 23px;
    margin: -50px 0 30px 0px;
    display: block;
    text-align: left;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:2%;
	padding: 100px 100px;
    width: 35%;
    height: 300px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
    width: 50%;
    margin-top: 3%;
}

.input-container label{
	position:absolute;
	top: -4px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid rgba(125, 255, 125, 0.712);	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

.invalid-input-container {
    position:relative;
	margin-bottom:25px;
    width: 50%;
    margin-top: 3%;
} 
.invalid-input-container label {
    top:-12px;
    position:absolute;
	left:0px;
	font-size:12px;
	color: red;	
	transition: all 0.5s ease-in-out;
}
.invalid-input-container input{ 
    border:none;	
    outline:none;	
    border-bottom:1px solid red;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}

.password-button {
    position: fixed;
    background-image: url('../images/other_images/password_invisible.png');
    background-repeat: no-repeat;
    width: 3%;
    height: 20px;
    border-left:50px;
    border-color: transparent;
    background-color: transparent;
    top: 170px;
    left: 45%;
    cursor: pointer;
}

.invalid-email-text {
    color:red;
    margin-top: 15px;
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.invalid-credentials-text {
    margin-left: 1vw;
    font-size: 0.vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 0, 0);
}

.login-button {
    color: white;
    background-color: rgba(125, 255, 125, 0.712);
    border-color: rgba(125, 255, 125, 0.712);
    border-radius: 5px;
    width: 50%;
    height: 50px;
}

.login-button:hover{
    border-color: rgba(80, 168, 80, 0.712);
}

.side-image {
    position: absolute;
    width: 14vw;
	height: 20vw;
    margin-left: 23vw;
    top: 65px;
}

.bottom-text {
    display: flex;
    color: white;
    margin-top: 5%;
    font-size: 90%;
}

.redirect-to-signUp-button {
    display: flex;
    color: rgb(0, 89, 255);
    background: transparent;
    border: transparent;
    margin-top: -17px;
    margin-left: 100px;
    cursor: pointer;
}