body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(20, 20, 20);
}

.top-widgets{
    position: fixed;
    /* background: rgb(61, 61, 61); */
    background: rgb(61, 61, 61);
    height: 70px;
    width: 100%;
    top: 0px;
}

.watchit-button{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 45px;
    background-color: transparent;
    border-color: transparent;
    margin-left: 0.5%;
    margin-top: 0.2%;
    height: 52px;
    cursor: pointer;
}

.header-buttons{
    position: relative;
    width: 130px;
    height: 50px;
    border: 10px solid #000;
    top: -13%;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.mainButton {
    position: relative;
    background: rgba(125, 255, 125, 0.712);
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 70%;
}

.mainButton span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
.mainButton:before,
.mainButton:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #000;
  }
.mainButton:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.mainButton:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
/*Change text Color*/
.mainButton:hover{
    color: #fff;
    background: transparent;
}
.mainButton:hover:before {
    transition: all 500ms ease;
    height: 100%;
}
.mainButton:hover:after {
    transition: all 500ms ease;
    height: 100%;
}
/* Change background color */
.mainButton:before,
.mainButton:after {
    position: relative;
    content: "";
    background: transparent;
}
.mainButton:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}
.mainButton:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}
.mainButton:hover:before {
    width: 100%;
}
.mainButton:hover:after {
    width: 100%;
}

.profile-picture {
    background-color: black;
    color: white;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: transparent;
    margin-left: 0px;
    margin-top: 0px;
  }

  .dropdown {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 1700px;
    border-radius: 50%;
    top: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: rgb(20, 20, 20);
    border-style: outset;
    border-color: black;
    min-width: 160px;
    height: 100px;
    border-radius: 4%;
    z-index: 1;
    margin-left: -100px;
  }
  
  .edit-profile-button {
    color: white;
    background: rgba(125, 255, 125, 0.712);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: rgba(125, 255, 125, 0.712);
    display: block;
    margin-top: 0%;
    width: 160px;
    height: 50px;
  }

  .logout-button{
    color: white;
    background: rgba(125, 255, 125, 0.712);
    border-right: none;
    border-left: none;
    border-bottom: none;
    display: block;
    margin-top: 0%;
    width: 160px;
    height: 50px;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

.slogan{
    position: relative;
    color: white;
    padding-left: 2%;
    top: 150px
}

.slides{
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    margin: auto;
}
.slideshow-serie-image{
    width: 1950px;
    height: 1000px;
    margin-left: -50%;
    margin-top: 5%;
    opacity: 30%;
}

.slideshow-serie-name{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: -10px;
    left: 350px;
    margin-top: -600px;
    font-size: 50px;
    font-family: 'Helvetica Neue', sans-serif;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 20%;
    margin-left: -5%;
}


.active {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

