body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(20, 20, 20);
}
.serie-cover-image{
    width: 10%;
    height: auto;
    border-radius: 10%;
    margin-left: 5%;
    margin-top: 5%;
}
.serie-title{
    color: white;
    margin-top: -13.5%;
    margin-left: 17%;
}

.serie-star-quantity{
    font-size: 100%;
    color: white;
    margin-top: 1%;
    margin-bottom: -2%;
    margin-left: 17%;
}

.serie-description {
    font-size: 100%;
    color: white;
    margin-top: 6%;
    margin-bottom: -2%;
    margin-left: 17%;
}