.serie-image {
    background-repeat: no-repeat;
    width: 100%;
    height: 54vw;
    left: 0vw;
}

.left-div {
    position: absolute;
    background:  linear-gradient(to left,  rgba(255, 255, 255, 0), black,black);
    width: 55%;
    border-radius: 0 700px 700px 0;
    margin-top: -54vw;
    height: 54vw;
    margin-left: 0vw;
}

.left-div .serie-name {
    position: absolute;
    color: white;
    margin-top: 10vw;
    margin-left: 5vw;
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-div .serie-release-year {
    position: absolute;
    margin-top: 13vw;
    margin-left: 5vw;
    font-size: 1vw;
    color: white;
}

.left-div .serie-duration {
    position: absolute;
    margin-top: 13vw;
    margin-left: 9vw;
    font-size: 1vw;
    color: white;
}

.left-div .serie-total-seasons-number {
    position: absolute;
    margin-top: 13vw;
    margin-left: 13vw;
    font-size: 1vw;
    color: white;
}

.left-div .serie-star-classification {
    position: absolute;
    margin-top: 15vw;
    margin-left: 5vw;
    font-size: 1vw;
    color: white;
}

.left-div .serie-description {
    position: absolute;
    color: white;
    margin-top: 20vw;
    margin-left: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    font-size: 1vw;
    text-align: justify;
}

.left-div .watch-now-button {
    position: absolute;
    color: white;
    margin-top: 30vw;
    margin-left: 5vw;
    width: 8vw;
    height: 3vw;
    font-size: 0.9vw;
    background-color: transparent;
    border-color: rgba(125, 255, 125, 0.712);
    border-radius: 5px;
    transition: 0.1s;
}

.left-div .watch-now-button:hover{
    background-color: rgba(125, 255, 125, 0.712);
    transition: 0.2s;
}

.seasons-title {
    position: absolute;
    color: white;
    font-size: 2vw;
    margin-top: 10vw;
    margin-left: 45vw;
}

.seasons-grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: 3vw 3vw 3vw 3vw 3vw 3vw;
    margin-top: 15vw;
    margin-left: 42vw;

  }

  .seasons-grid-item {
    background-color: rgba(125, 255, 125, 0.712);
    text-align: center;
    font-size: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 5px;
  }

  .seasons-grid-item:hover{
      border-color: green;
  }

.episodes-grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 25vw;
    margin-left: 16vw;
    overflow-x: scroll;
    width: 66vw;
  }

  .episodes-grid-item {
      position: relative;
      background-color: blueviolet;
      border-color: black;
      border-radius: 5%;
      margin-left: 1vw;
  }
  
  .episodes-grid-item img {
      border-radius: 5%;
      height: 8vw;
      width: 12vw;
  }

  .episodes-grid-item button {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 20% 34%;
    font-size: 2vw;
    border-radius: 50%;
    width: 30%;
    line-height: 3vw;
    text-align: center;
    padding-left: 5%;
    border-color: black;
    color: black;
  }

  .episodes-grid-item button:hover {
      color: rgba(125, 255, 125, 0.712);
      border-color: rgba(125, 255, 125, 0.712);
  }

  
.episodes-grid-container::-webkit-scrollbar{
    position: absolute; 
    border-radius: 30px;
    box-shadow: inset 0 0 5px white; 
    height: 1vw;

}

.episodes-grid-container::-webkit-scrollbar-thumb{ 
   background-color: rgba(125, 255, 125, 0.425);
   border-radius: 30px;
}

.episodes-grid-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(125, 255, 125, 0.712);
}

.players-box {
    position: absolute;
    margin-top: 38vw;
    margin-left: 44vw;
    height: 3vw;
    font-size: 1vw;
}

.players-box button {
    width: 7vw;
    height: 3.5vw;
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: transparent;
    color: white;
    border-color: rgba(125, 255, 125, 0.712);
    border-radius: 50px;
}

.players-box button:hover {
    background-color: rgba(125, 255, 125, 0.712);
}


.video-players-div {
    position: absolute;
    margin-top: 43vw;
    margin-left: 26vw;
    width: 50vw;
}

.video-players-div video {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.login-warn-text {
    position: absolute;
    margin-top: 34vw;
    margin-left: 40vw;
    font-size: 2vw;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.go-to-first-episode-button {
    display: none;
    position: absolute;
    margin-top: 23vw;
    margin-left: 17vw;
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}

.go-to-first-episode-button:hover {
    color: rgba(125, 255, 125, 0.712);
}


.go-to-last-episode-button {
    position: absolute;
    margin-top: 23vw;
    margin-left: 72.8vw;
    width: 8.2vw;
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}
.go-to-last-episode-button:hover {
    color: rgba(125, 255, 125, 0.712);
}