body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.watchit-button{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 45px;
    background-color: transparent;
    border-color: transparent;
    margin-top: 1%;
    margin-left: 0.5%;
    height: 52px;
    cursor: pointer;
}
.serie-background{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.serie-cover-image{
    position: relative;
    width: 15%;
    border-radius: 10%;
    margin-left: 6%;
    margin-top: -17%;
}

.serie-name{
    display: flex;
    position: absolute;
    color: white;
    margin-top: -19%;
    margin-left: 23%;
    font-size: 2.2vw;
}

.serie-release-year{
    display: flex;
    position: absolute;
    color: white;
    margin-top: -15%;
    margin-left: 23%;
    font-size: 0.9vw;
}

.serie-duration{
    display: flex;
    position: absolute;
    color: white;
    margin-top: -15%;
    margin-left: 28%;
    font-size: 0.9vw;
}

.serie-total-seasons-number{
    display: flex;
    position: absolute;
    color: white;
    margin-top: -15%;
    margin-left: 34.5%;
    font-size: 0.9vw;
}

.serie-star-classification{
    display: flex;
    position: absolute;
    color: white;
    margin-top: -12%;
    margin-left: 23%;
    font-size: 0.9vw;
}

.serie-description {
    display: flex;
    position: absolute;
    color: white;
    margin-top: -10%;
    margin-left: 23%;
    width: 70%;
    font-size: 0.9vw;
    text-align: justify;
}

.season-1-button {
    display: table-cell;
    position: relative;
    background-color: rgba(125, 255, 125, 0.712);
    color: white;
    margin-left: 23%;
    font-size: 0.9vw;
    left: -10vw;
    top: -5vw;
    margin-top: 10vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10%;
}

.season-1-button:hover{
    border-color: rgb(32, 28, 228);
    width: 3vw;
    height: 3vw;
}

.season-2-button{
    display: table-cell;
    position: relative;
    background-color: rgba(125, 255, 125, 0.712);
    color: white;
    font-size: 0.9vw;
    left: -9vw;
    top: -5vw;
    margin-top: 10vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10%;
}

.season-2-button:hover{
    border-color: rgb(32, 28, 228);
    width: 3vw;
    height: 3vw;
}

.season-3-button{
    display: table-cell;
    position: relative;
    background-color: rgba(125, 255, 125, 0.712);
    color: white;
    font-size: 0.9vw;
    left: -8vw;
    top: -5vw;
    margin-top: 10vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10%;
}

.season-3-button:hover{
    border-color: rgb(32, 28, 228);
    width: 3vw;
    height: 3vw;
}

.season-4-button{
    display: table-cell;
    position: relative;
    background-color: rgba(125, 255, 125, 0.712);
    color: white;
    font-size: 0.9vw;
    left: -7vw;
    top: -5vw;
    margin-top: 10vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10%;
}

.season-4-button:hover{
    border-color: rgb(32, 28, 228);
    width: 3vw;
    height: 3vw;
}

.season-5-button{
    display: table-cell;
    position: relative;
    background-color: rgba(125, 255, 125, 0.712);
    color: white;
    font-size: 0.9vw;
    left: -6vw;
    top: -5vw;
    margin-top: 10vw;
    width: 3vw;
    height: 3vw;
    border-radius: 10%;
}

.season-5-button:hover{
    border-color: rgb(32, 28, 228);
    width: 3vw;
    height: 3vw;
}

.seasons-text{
    position: relative;
    font-size: 1.5vw;
    line-height: 2.0vw;
    color: white;
    margin-top: -10.0vw;
    margin-left: -2vw;
    border-radius: 30%;
    border-color: white;
}

.episode-grid{
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll ;
    width: 80%;
    height: 160px;
    margin-top: 4%;
    margin-left: 10%;
    text-align: center;
    line-height: 120px;
    grid-gap: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    }
    .episode-slot{
        width: 200px;
        height: 130px;
        background-color: blueviolet;
        border-radius: 10px;
        pointer-events: none;
    }
    .episode-slot-unavailable{
        width: 200px;
        height: 130px;
        background-color: black;
        border-radius: 10px;
        pointer-events: none;
    }

    .episode-unavailable-text{
        position: absolute;
        margin-top: -128px;
        width: 200px;
        height: 130px;
    }
    .episode-text{
        position: sticky;
        width: 100px;
        left:0;
        z-index: 999;
        background: rgb(32, 28, 228);
    }

    .play-episode-1-button{
        position: relative;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: -3210px;
        border-color: transparent;
    }

    .play-episode-1-button:hover{
        border-color:rgb(32, 28, 228);
    }

    .play-episode-2-button{
        position: relative;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: -3010px;
        border-color: transparent;
    }

    .play-episode-2-button:hover{
        border-color:rgb(32, 28, 228);
    }

    .play-episode-3-button{
        position: relative;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: -105px;
        margin-left: 590px;
        border-color: transparent;
    }

    .play-episode-3-button:hover{
        border-color:rgb(32, 28, 228);
    }

    .play-episode-4-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 790px;
        border-color: transparent;
    }

    .play-episode-4-button:hover{
        border-color:rgb(32, 28, 228);
    }

    .play-episode-5-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 990px;
        border-color: transparent;
    }

    .play-episode-5-button:hover{
        border-color:rgb(32, 28, 228);
    }

    .play-episode-6-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 1195px;
        border-color: transparent;
    }

    .play-episode-6-button:hover{
        border-color:rgb(32, 28, 228);
    }

    .play-episode-7-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 1405px;
        border-color: transparent;
    }
    
    .play-episode-7-button:hover{
        border-color: rgb(32, 28, 228);
    }

    .play-episode-8-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 1605px;
        border-color: transparent;
    }
    .play-episode-8-button:hover{
        border-color: rgb(32, 28, 228);
    }

    .play-episode-9-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 1815px;
        border-color: transparent;
    }
    .play-episode-9-button:hover{
        border-color: rgb(32, 28, 228);
    }

    .play-episode-10-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 2020px;
        border-color: transparent;
    }
    .play-episode-10-button:hover{
        border-color: rgb(32, 28, 228);
    }

    .play-episode-11-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 2225px;
        border-color: transparent;
    }
    .play-episode-11-button:hover{
        border-color: rgb(32, 28, 228);
    }

    
    .play-episode-12-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 2430px;
        border-color: transparent;
    }
    .play-episode-12-button:hover{
        border-color: rgb(32, 28, 228);
    }

    .play-episode-13-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 2635px;
        border-color: transparent;
    }
    .play-episode-13-button:hover{
        border-color: rgb(32, 28, 228);
    }
    .play-episode-14-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 2840px;
        border-color: transparent;
    }
    .play-episode-14-button:hover{
        border-color: rgb(32, 28, 228);
    }
    .play-episode-15-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 3045px;
        border-color: transparent;
    }
    .play-episode-15-button:hover{
        border-color: rgb(32, 28, 228);
    }
    .play-episode-16-button{
        position: absolute;
        background: url('../images/other_images/play-episode.png');
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 3250px;
        border-color: transparent;
    }
    .play-episode-16-button:hover{
        border-color: rgb(32, 28, 228);
    }

.players-box {
    position: absolute;
    width: 50%;
    margin-top: -31vw;
    margin-left: 27.5vw;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.player-button {
    background-color: transparent;
    border-color: rgba(125, 255, 125, 0.712);
    left: 4px;
    width: 7vw;
    height: 3.5vw;
    border-radius: 15px;
    color: white;
    font-size: 1vw;
}
.player-button:hover {
    background-color: rgba(125, 255, 125, 0.712);
}

.video-player {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.login-warn-text{
    margin-left: 4%;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
