.top-series-progress-bar-div {
  position: absolute;
  background-color: white;
  margin-top: 40vw;
  margin-left: 4.6vw;
  width: 23vw;
  height: 0.1vw;
}

.top-series-progress-bar {
  background-color: rgba(125, 255, 125, 0.712);
  width: 1%;
  height: 0.1vw;
}

.top-series-container {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: -1%;
  width: 101.5%;
  height: 54vw;
  left: -1.5vw;
}

.top-series-container img {
  width: 100%;
  height: 54vw;
}

.top-series-item {
  width: 100%;
}

.top-serie-1 {
  display: block;
  filter: brightness(80%);
}

.top-serie-2 {
  display: none;
}

.top-serie-3 {
  display: none;
}

.top-series-container .previous-button-div {
  position: absolute;
  top: 0%;
  left: 0vw;
  font-size: 1vw;
  background-color: rgb(25, 25, 25);
  width: 4.5%;
  height: 100%;
  filter: opacity(50%);
  cursor: pointer;
}

.top-series-container .next-button-div {
  position: absolute;
  top: 0%;
  right: 0vw;
  font-size: 1vw;
  background-color: rgb(25, 25, 25);
  width: 3%;
  height: 100%;
  filter: opacity(50%);
  cursor: pointer;
}

.top-series-container .previous-button {
  position: absolute;
  top: 45%;
  left: 1.6vw;
  font-size: 1vw;
  font-family: monospace;
  width: 3vw;
  background: transparent;
  border-color: transparent;
  color: white;
}

.top-series-container .next-button {
  position: absolute;
  top: 45%;
  right: 0vw;
  font-size: 1vw;
  font-family: monospace;
  border-radius: 600px;
  width: 3vw;
  height: 3vw;
  border-color: transparent;
  color: white;
  background: transparent;
}

.top-serie-left-div {
  position: absolute;
  background:  linear-gradient(to left,  rgba(255, 255, 255, 0), black,black);
  width: 55%;
  border-radius: 0 700px 700px 0;
  margin-top: -54vw;
  height: 54vw;
  margin-left: 0vw;
}

.top-serie-left-div .serie-name {
  position: absolute;
  color: white;
  margin-top: 10vw;
  margin-left: 5vw;
  font-size: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-serie-left-div .serie-release-year {
  position: absolute;
  margin-top: 13vw;
  margin-left: 5vw;
  font-size: 1vw;
  color: white;
}

.top-serie-left-div .serie-duration {
  position: absolute;
  margin-top: 13vw;
  margin-left: 9vw;
  font-size: 1vw;
  color: white;
}

.top-serie-left-div .serie-total-seasons-number {
  position: absolute;
  margin-top: 13vw;
  margin-left: 13vw;
  font-size: 1vw;
  color: white;
}

.top-serie-left-div .serie-star-classification {
  position: absolute;
  margin-top: 15vw;
  margin-left: 5vw;
  font-size: 1vw;
  color: white;
}

.top-serie-left-div .watch-now-button {
  position: absolute;
  color: white;
  margin-top: 30vw;
  margin-left: -22.5vw;
  width: 8vw;
  height: 3vw;
  font-size: 0.9vw;
  background-color: transparent;
  border-color: rgba(125, 255, 125, 0.712);
  border-radius: 5px;
  transition: 0.1s;
}

.top-serie-left-div .watch-now-button:hover{
  background-color: rgba(125, 255, 125, 0.712);
  transition: 0.2s;
}


.top-serie-left-div .serie-description{
  position: absolute;
  color: white;
  margin-top: 20vw;
  margin-left: 5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 50%;
  font-size: 1vw;
  text-align: justify;
}


.top-serie-left-div .add-to-favourites-button {
  position: absolute;
  margin-top: 30vw;
  margin-left: -13vw;
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('../images/other_images/favourite-filled.png');
  background-size: 100%;
  border-color: transparent;
}

.top-serie-left-div .add-to-favourites-button:hover {
  background-image: url('../images/other_images/favourite-filled.png');
}

.slogan-series {
  position: absolute;
  margin-top: 65vw;
  margin-left: 35vw;
  font-size: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  padding: 100px;
  margin-top: 10vw;
}

.grid-item {
  padding: 10px;
  width: 11vw;
  text-align: center;
}

.s1-container {
  position: relative;
  box-shadow: 20 4px 8px 0 rgba(125, 255, 125, 0.712);
  transition: 0.3s;
  width: 10vw;
  border-radius: 10%;
  opacity: 100%;
}

.s1-container:hover {
  box-shadow: 0 8px 16px 0 rgba(125, 255, 125, 0.712);
}

/* Make the image responsive */
.s1-container img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.s1-container .btn {
  position: absolute;
  top: 50%;
  left: 50.5%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.slot-s2 {
  width: 9.3vw;
}

.slot-s3 {
  width: 9.3vw;
}