.watchit-video-player {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: none;
}

.watchit-video-player::-webkit-media-controls-play-button {
    background-color: transparent;
}

.watchit-video-player::-webkit-media-controls-play-button:hover {
    background-color: rgba(125, 255, 125, 0.712);
    border-radius: 50px;
    width: 2%;
}

.watchit-video-player::-webkit-media-controls-current-time-display {
    color: rgba(125, 255, 125, 0.712);
    
}

.watchit-video-player::-webkit-media-controls-timeline {
    background-color: rgba(125, 255, 125, 0.712);
    padding-bottom: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.watchit-video-player::-webkit-media-controls-volume-slider {
    background-color: rgba(125, 255, 125, 0.712);
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0;
}

.player-controls {
    width: 50vw;
    margin-top: -1.5vw;
    margin-left: 10vw;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: aqua;
}