.watchit-video-player {
    display: block;
    background-color: transparent;
}

.watchit-video-player::-webkit-media-controls-play-button {
    background-color: transparet;
}

.watchit-video-player::-webkit-media-controls-play-button:hover {
    background-color: rgba(125, 255, 125, 0.712);
    border-radius: 50px;
    width: 2%;
}

.watchit-video-player::-webkit-media-controls-current-time-display {
    color: rgba(125, 255, 125, 0.712);
    
}

.watchit-video-player::-webkit-media-controls-timeline {
    background-color: rgba(125, 255, 125, 0.712);
    padding-bottom: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.watchit-video-player.watchit-video-player::-webkit-media-controls-timeline:hover{
    height: 1vh;
}

.watchit-video-player::-webkit-media-controls-volume-slider {
    background-color: rgba(125, 255, 125, 0.712);
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0;
}


.watchit-video-player::-webkit-media-controls-fullscreen-button:hover {
    background-color: rgba(125, 255, 125, 0.712);
    border-radius: 50px;
    width: 2%;
}